<div id="home-page" class="w-100">
	
	<section class="front-section h-75 d-flex align-items-center">
		<div class="content py-5 px-3 shadow">
			<h1>We not only create</h1>
			<h2>We innovate</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elitst possimus facilis sunt illo dolores blanditiis porro expedita tempora </p>
		</div>
	</section>

	<section class="greetings-section">
		<div class="row">
			<div class="col-6">
			 <img class="img-fluid" src="../../../../../assets/home-page/overview.jpg" alt="overview-image">				
			</div>
			<div class="col-6 d-flex align-items-center">
				<div class="container">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem eos tenetur ut repellat odio a, cumque, eaque libero laboriosam voluptatibus doloremque? Ad inventore amet ipsum et vero dolorum, animi!
					</p>
					<button class="btn btn-warning">Read more...</button>
				</div>
			</div>
		</div>
	</section>

	<section class="accomplishments-section">
		<h1 class="text-center">Our Accompishments</h1>
		<div class="row justify-content-center">
			<div class="col-4 text-center">
				<img class="img-fluid"src="../../../../../assets/home-page/clients.png" alt="clients-icon">
				<p class="py-2">Satisfied Clients <span>100+</span></p>
			</div>
			<div class="col-4 text-center">
				<img class="img-fluid"src="../../../../../assets/home-page/projects.png" alt="projects-icon">
				<p class="py-2">Projects taken <span>100+</span></p>
			</div>
			<div class="col-4 text-center">
				<img class="img-fluid"src="../../../../../assets/home-page/global.png" alt="global-icon">
				<p class="py-2">Worldwide <span>100+</span></p>
			</div>
			<div class="col-4 text-center">
				<img class="img-fluid"src="../../../../../assets/home-page/experience.png" alt="growth-icon">
				<p class="py-2">Experience <span>100+</span></p>
			</div>
			<div class="col-4 text-center">
				<img class="img-fluid"src="../../../../../assets/home-page/team.png" alt="team-icon">
				<p class="py-2"> Team <span>100+</span></p>
			</div>
		</div>
	</section>

	<section class="clients-section">
		<h1 class="text-center">Our Clients</h1>
		<div class="row">
			<div class="col-4">
				<mat-card class="example-card">
					<mat-card-header>
					    <mat-card-title>Austin peters</mat-card-title>
					    <mat-card-subtitle>Managing director @corporate pvt. ltd.</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-1.jpg" alt="Photo of client">
					<mat-card-content>
					    <p>
					      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
					      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
					      bred for hunting.
					    </p>
				    </mat-card-content>
					<mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					</mat-card-actions>
			    </mat-card>
			</div>
			<div class="col-4">
				<mat-card class="example-card">
					<mat-card-header>
					    <mat-card-title>Franco ray</mat-card-title>
					    <mat-card-subtitle>CEO @corporate pvt ltd.</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-2.jpg" alt="Photo of client">
					<mat-card-content>
					    <p>
					      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
					      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
					      bred for hunting.
					    </p>
				    </mat-card-content>
					<mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					</mat-card-actions>
			    </mat-card>
			</div>
			<div class="col-4">
				<mat-card class="example-card">
					<mat-card-header>
					    <mat-card-title>Ashu walia</mat-card-title>
					    <mat-card-subtitle>CTO @corporate pvt. ltd.</mat-card-subtitle>
					  </mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-3.jpg" alt="Photo of client">
					<mat-card-content>
					    <p>
					      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
					      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
					      bred for hunting.
					    </p>
					</mat-card-content>
					<mat-card-actions>
					    <button mat-button>LIKE</button>
					    <button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		

	</section>
</div>

