<div id="home-page" class="w-100">
	
	<section  animateOnScroll animationName="animated fadeIn" class="front-section d-flex align-items-center">
		<div animateOnScroll animationName="animated fadeInLeft" class="content py-5 px-3 text-light shadow">
			<h1>We not only create</h1>
			<h2>We innovate</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elitst possimus facilis sunt illo dolores blanditiis porro expedita tempora </p>
		</div>
	</section>

	<section animateOnScroll animationName="animated fadeIn" class="greetings-section text-light">
		<div class="row">
			<div class="col-sm-6">
			 <img class="img-fluid" src="../../../../../assets/home-page/overview.jpg" alt="overview-image">				
			</div>
			<div class="col-sm-6 d-flex align-items-center">
				<div class="container p-5">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem eos tenetur ut repellat odio a, cumque, eaque libero laboriosam voluptatibus doloremque? Ad inventore amet ipsum et vero dolorum, animi!
					</p>
					<button class="link-button mat-raised-button">Read more...</button>
				</div>
			</div>
		</div>
	</section>

	<section animateOnScroll animationName="animated fadeIn"  class="accomplishments-section py-5">
		<h1 class="text-center py-5">Our Accompishments</h1>
		<div class="row justify-content-center py-5">
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/clients.png" alt="clients-icon">
				<p class="py-2 ">Satisfied Clients <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="clients"></span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/projects.png" alt="projects-icon">
				<p class="py-2">Projects taken <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="projects"></span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/global.png" alt="global-icon">
				<p class="py-2">Worldwide <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="global">+</span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/experience.png" alt="growth-icon">
				<p class="py-2">Experience <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="experience"></span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/team.png" alt="team-icon">
				<p class="py-2"> Team <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="team"></span></p>
			</div>
		</div>
	</section>

	<section  animateOnScroll animationName="animated fadeIn" class="clients-section py-5">
		<h1 class="text-center py-5">Our Clients</h1>
		<div class="row py-5 px-4">
			<div class="col-12 col-sm-4 mt-5 mt-sm-0 d-flex flex-column align-items-center">
				<mat-card class="h-100 card">
					<div class="links">
						<button class="link-button" mat-fab aria-label="twitter link">
							<i class="fa fa-twitter text-primary"></i>
					    </button>
					</div>
					<mat-card-header>
					    <mat-card-title>Austin peters</mat-card-title>
					    <mat-card-subtitle>Managing director @corporate pvt. ltd.</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-1.jpg" alt="Photo of client">
					<mat-card-content>
					    <p class="h-100 px-2 py-4">
					     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, atque iusto alias corporis ducimus nobis sint hic vel maiores rem enim rerum inventore quaerat eum, porro temporibus fugit. Dolor, corporis?
					     
					    </p>
				    </mat-card-content>
			    </mat-card>
			</div>
			<div class="col-12 col-sm-4 mt-5 mt-sm-0 d-flex flex-column align-items-center">
				<mat-card class="h-100  card">
					<div class="links">
						<button class="link-button" mat-fab aria-label="twitter link">
							<i class="fa fa-twitter text-primary"></i>
					    </button>
					</div>
					<mat-card-header>
					    <mat-card-title>Franco ray</mat-card-title>
					    <mat-card-subtitle>CEO @corporate pvt ltd.</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-2.jpg" alt="Photo of client">
					<mat-card-content>
					    <p class="h-100 px-2 py-4">
					      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptatibus veniam adipisci harum necessitatibus perspiciatis dicta, saepe a, assumenda voluptatum eligendi blanditiis eius facere nisi fugit. Facere ratione, accusamus at.
					    </p>

				    </mat-card-content>
			    </mat-card>
			</div>
			<div class="col-12 col-sm-4 mt-5 mt-sm-0 d-flex flex-column align-items-center">
				<mat-card class="h-100 card">
					<div class="links">
						<button class="link-button" mat-fab aria-label="twitter link">
							<i class="fa fa-twitter text-primary"></i>
					    </button>
					</div>
					<mat-card-header>
					    <mat-card-title>Ashu walia</mat-card-title>
					    <mat-card-subtitle>CTO @corporate pvt. ltd.</mat-card-subtitle>
					  </mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-3.jpg" alt="Photo of client">
					<mat-card-content>
					    <p class="h-100 px-2 py-4">
					      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam accusantium nobis dolores praesentium veniam magnam asperiores perferendis animi? Asperiores maxime hic sint nam, mollitia voluptate accusantium animi non repellendus odio.
					       Asperiores maxime hic sint nam, mollitia voluptate accusantium animi non repellendus odio.
					    </p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		

	</section>
</div>

